* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../slike/body.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #fff;
    margin-left: 117px;
    margin-right: 117px;
    margin-top: 15px;
    position: sticky;
    top: 20px;
    z-index: 900;
    border-radius: 27px;
    -webkit-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);



}






header .header img {
    width: 112px;
    height: 60px;
    padding-bottom: 10px;
}


header .header .header-list {
    list-style: none;
}



header .header .header-list li {

    display: inline-block;
    padding-top: 8px;

}

header .header .header-list li a {

    text-decoration: none;
    color: rgb(71, 79, 87);
    margin-left: 20px;
    font-size: 13px;
    transition: 0.2s;

}

header .header .header-list li .mapa {

    width: 40px;
    height: 44px;

}





header .header .header-list li a:hover {

    color: orange;

}


header .header {

    padding-top: 15px;
}



.cart img {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: transparent;
}


.cart {
    position: relative;
    left: 75%;
    top: 50px;


}

.cart img {
    border-radius: 27px;
    -webkit-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
}

.first-img-outlet {

    width: 450px;
    margin-left: 100px;
}

.second-img-outlet {

    width: 450px;
    margin-left: 100px;
}

.third-img-outlet {

    width: 450px;
    margin-left: 100px;
}



.first-img-outlet img {
    width: 200px;
    height: 200px;

    margin-left: 100px;
    border-radius: 27px;
    -webkit-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);




}

.second-img-outlet img {
    width: 200px;
    height: 200px;

    margin-left: 100px;
    border-radius: 27px;
    -webkit-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);



}

.third-img-outlet img {
    width: 200px;
    height: 200px;
    margin-left: 100px;
    border-radius: 27px;
    -webkit-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
}



.img-for-outlet span {
    position: relative;
    left: 165px;
    color: grey;
    background-color: rgb(248, 102, 5);
    border-radius: 27px;
}


button {
    border-radius: 27px;
    height: 50px;
    width: 80px;
    color: grey;
    position: relative;
    left: 160px;
    margin-bottom: 20px;
    transition: 0.2s;
    border: none;
    background-color: orange;

}

button:hover {
    background-color: rgb(248, 102, 5);
}


.cart-item {
    max-width: 500px;
    max-height: 700px;
    background-color: #fff;
    position: absolute;
    left: 60%;
    top: 40%;
    border-radius: 27px;
    -webkit-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.75);
    /*width: 500px;
    height: 700px;*/
    padding: 10px;
}

.first-img-outlet a {
    text-decoration: none;
    color: black;
    font-size: 20px;


}

.second-img-outlet a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}


.third-img-outlet a {
    text-decoration: none;
    color: black;
    font-size: 20px;


}